<div class="main" #fullscreenDiv>
  <div class="map" #map></div>
<div class="controls">
  <button mat-icon-button (click)="toggleFullScreen()"><mat-icon>{{ fullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon></button>
  <button mat-icon-button (click)="zoom(1)"><mat-icon>zoom_in</mat-icon></button>
  <button mat-icon-button (click)="zoom(-1)"><mat-icon>zoom_out</mat-icon></button>
  <button mat-icon-button (click)="toggleHeatMap()"><mat-icon>{{ heatmap ? 'pie_chart' : 'whatshot' }}</mat-icon></button>
</div>
<div class="legends" *ngIf="!heatmap">
  <div class="legendBox">
    <div class="legend" *ngFor="let legend of legends">
      <div style="width: 70%;">{{ legend.name }}</div>
      <div style="width:30%;border-radius: 10px;" [ngStyle]="{'background-color': legend.color}">{{ legend.count ||'' }}</div>
    </div>
  </div>
</div>
<div class="title">{{title}}(<a href="http://mohfw.gov.in/" style="color: white;" target="_blank">Source: MOHFW</a>)</div>
<div class="lastUpdated">{{lastUpdated}}</div>
</div>
<ngx-spinner></ngx-spinner>