<div class="main" #fullscreenDiv>
  <div class="map" #map></div>
<div class="controls">
  <button mat-icon-button (click)="toggleFullScreen()"><img [src]="fullscreen ? '../assets/size.png' : '../assets/resize.png'" width="16" height="16" alt="fullscreen"></button>
  <button mat-icon-button (click)="zoom(1)"><mat-icon>zoom_in</mat-icon></button>
  <button mat-icon-button (click)="zoom(-1)"><mat-icon>zoom_out</mat-icon></button>
  <button mat-icon-button (click)="toggleHeatMap()"><img [src]="heatmap ? '../assets/pie.png' : '../assets/heat.png'" height="40" width="40"></button>
</div>
<div class="legends" *ngIf="!heatmap">
  <div class="legendBox">
    <div class="legend" *ngFor="let legend of legends">
      <div style="width: 70%;">{{ legend.name }}</div>
      <div style="width:30%;border-radius: 10px;" [ngStyle]="{'background-color': legend.color}"></div>
    </div>
  </div>
</div>
<div class="title">{{title}}</div>
<div class="lastUpdated">{{lastUpdated}}</div>
</div>